extends ./layout/index

block contenido
    main.container.mt-5 
        .row 
            h1.col-md-12.mt-5.text-center ¡Oops!
            p.col-md-12.text-center Hubo un error al cargar la página
            