extends ./layout/index

block contenido
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="/img/nosotros.jpg", alt="nosotros" class="img-fluid")
            .col-md-7
                h1 #{titlePage}

                blockquote Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum, veniam nesciunt odio nisi ut quae soluta nam expedita delectus excepturi quibusdam. Itaque laboriosam ullam iste dolores, ex cumque necessitatibus accusantium.Autem optio, nulla voluptatum et dolorem qui porro inventore mollitia, nam deserunt deleniti quas blanditiis velit quisquam enim accusamus eius fugiat, quidem saepe non? Animi dolore distinctio ea vel recusandae?Sed iste necessitatibus magni odit illum distinctio totam quos alias! Tempora optio quis nobis, tenetur eaque possimus hic facere, maxime

                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure commodi, saepe quam quos ullam consequatur dolore voluptatem hic, nihil voluptate error cumque maxime ut, possimus blanditiis. Quasi sapiente nam optio.Magnam tempore error, perspiciatis neque dolor quae quasi praesentium exercitationem possimus maiores soluta a aliquid iste! Fugiat ex deleniti dolore tenetur dolorum quidem? Optio blanditiis suscipit quis, velit perspiciatis in!Pariatur unde aperiam expedita

                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit esse maxime totam ex quos labore minima nulla. Sapiente, beatae sunt. Debitis, laudantium asperiores. Dolor esse vitae quas nobis nostrum molestiae!Excepturi, unde nisi co
    .listado-iconos
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4
                    img.img-fluid.mb-4(src="img/icono_seguridad.svg", alt="icono seguridad")
                    h2.mb-4 Seguridad
                    p xime totam ex quos labore minima nulla. Sapiente, beatae sunt. Debitis, laudantium asperiores. Dolor esse vitae quas nobis nostrum 
                
                .col-md-4
                    img.img-fluid.mb-4(src="img/icono_destinos.svg", alt="icono destinos")
                    h2.mb-4 Mejores Destinos
                    p xime totam ex quos labore minima nulla. Sapiente, beatae sunt. Debitis, laudantium asperiores. Dolor esse vitae quas nobis nostrum 
                
                .col-md-4
                    img.img-fluid.mb-4(src="img/icono_precios.svg", alt="icono precios")
                    h2.mb-4 Los Mejores Precios
                    p xime totam ex quos labore minima nulla. Sapiente, beatae sunt. Debitis, laudantium asperiores. Dolor esse vitae quas nobis nostrum 